[submodule "layers/poky"]
	path = layers/poky
	url = https://github.com/kraj/poky.git
	branch = master
[submodule "layers/meta-openembedded"]
	path = layers/meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
	branch = master
[submodule "layers/openembedded-core"]
	path = layers/openembedded-core
	url = https://github.com/openembedded/openembedded-core.git
	branch = master
[submodule "layers/meta-raspberrypi"]
	path = layers/meta-raspberrypi
	url = https://github.com/agherzan/meta-raspberrypi.git
	branch = master
[submodule "layers/meta-ktf"]
	path = layers/meta-ktf
	url = https://github.com/dchvs/meta-ktf.git
	branch = master
[submodule "layers/meta-i2c-devices"]
	path = layers/meta-i2c-devices
	url = https://github.com/dchvs/meta-i2c-devices.git
	branch = master
