#Directories
bin
build
tmp

/*/tmp*
/*/tmp-glibc*
/*/*cache*
/*/work 
/*/downloads
/*/*.log*
/*/.tmp_versions 

# yocto-rpi3 (not working)
*/downloads
*/tmp*
*/sstate*
*/cache
*/bitbake*


# Make files 
#Makefile

# Object files 
KernelTesting.*
.cache.*
.main.*
Module.*
*.o*
*.mod.*
*.ko


